body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5ddd5; /* Fondo similar al de WhatsApp */
    font-family: Arial, sans-serif;
    background-image: url('c1.jpeg'); /* Agrega tu imagen de fondo aquí */
    background-size: cover; /* Asegúrate de que la imagen cubra toda la pantalla */
    background-position: center center; /* Centra la imagen en la pantalla */
    background-attachment: fixed; 
}

.chat-container {
    width: 100%; /* Ancho completo en dispositivos móviles */
    max-width: 600px; /* Ancho máximo para pantallas más grandes */
    margin: 20px; /* Un poco de margen en todos los lados */
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.chat-header {
    /* ... tus otros estilos ... */
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.profile-picture img {
    width: 100px; /* O el tamaño que prefieras */
    height: 100px; /* Debe ser igual al ancho para ser un círculo */
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    margin-right: 10px; /* Añade un poco de margen a la derecha de la imagen */
}

h2 {
    margin: 0;
    /* Agrega cualquier otro estilo que necesites */
}


.chat-messages {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    background-color: #e5ddd5; /* Fondo similar al de WhatsApp */
}

.chat-form {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    gap: 10px;
}

textarea {
    width: calc(100% - 90px);
    resize: none;
}

/* Asegúrate de que el texto del botón se ajuste y esté centrado */
.btn-send, .btn-clear {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto; /* Cambia el ancho a auto para que se ajuste al contenido */
    padding: 5px 10px; /* Añade algo de relleno alrededor del texto */
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
    overflow: hidden; /* Evita que el contenido se desborde */
    white-space: nowrap; /* Asegúrate de que el texto no se ajuste y se mantenga en una sola línea */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
}

.btn-clear {
    background-color: #aaa;
}

.btn-send:hover {
    background-color: #064C43;
}

.btn-clear:hover {
    background-color: #888;
}

/* Mensajes del usuario */
.text-end {
    text-align: right;
}

/* Mensajes del asistente */
.text-start {
    text-align: left;
}

/* Estilos base para todas las burbujas de mensajes */
.message-bubble {
    max-width: 80%; /* Controla el ancho máximo de la burbuja */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 18px; /* Da forma redondeada a las burbujas */
    display: block;
    clear: both;
}

/* Estilos específicos para mensajes del usuario */
.message-bubble.user {
    background-color: #DCF8C6; /* Color de fondo para los mensajes del usuario */
    margin-left: 20%; /* Alinea los mensajes del usuario a la derecha */
    margin-right: 4%;
    text-align: left;
    float: right;
}

/* Estilos específicos para respuestas del asistente */
.message-bubble.assistant {
    background-color: #ffffff;
    margin-right: 20%; /* O ajusta según el espacio deseado del borde derecho */
    margin-left: 4%; /* Espacio pequeño del borde izquierdo */
    text-align: left; /* Texto alineado a la izquierda dentro de la burbuja */
    float: left; /* Flota a la izquierda dentro del contenedor */
}
/* Asegúrate de añadir estos estilos a tus mensajes en la función renderConversationHistory */

/* Estilo para el mensaje "escribiendo..." */
.writing {
    color: #999; /* Un gris más claro para el texto */
    font-style: italic; /* Opcional: para diferenciar aún más el mensaje "escribiendo..." */
}

.btn-clear, .btn-send {
    background-color: rgba(255, 255, 255, 0.5); /* Color blanco con transparencia */
    color: #000; /* Color de texto */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: background-color 0.3s ease; /* Transición suave al cambiar de estado */
}

.btn-clear:hover, .btn-send:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Mayor opacidad al pasar el mouse */
}

/* Ajustes específicos para el botón enviar, si es necesario */
.btn-send {
    /* Puedes agregar aquí estilos específicos para el botón enviar */
}

.btn-send-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #25D366; /* Verde WhatsApp */
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: transform 0.2s ease-in-out;
}

.btn-send-icon:hover {
    transform: scale(1.1); /* Efecto al pasar el mouse */
}

.btn-send-icon svg {
    stroke: white; /* Color del ícono */
    width: 24px;
    height: 24px;
}



